<h2>Issues</h2>
<div class="panel panel-default" ng-show="loggedUser">
    <div class="panel-heading">New issue</div>
    <div class="panel-body" id="createIssueBody">
        <form ng-submit="createIssue()">
            <div ng-include="'partials/formMessage.html'"></div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="subject" class="control-label">Subject:</label>
                        <input type="text" id="subject" ng-model="newIssue.subject" class="form-control" required="required" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="control-label">Description:</label>
                        <textarea id="description" ng-model="newIssue.description" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="priority" class="control-label">Priority:</label>
                        <select id="priority" ng-model="newIssue.priority" class="form-control" required="required">
                            <option ng-repeat="option in priorityOptions" value="{{ option.value }}">{{ option.title }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="category" class="control-label">Category:</label>
                        <select id="category" ng-model="newIssue.category" class="form-control" required="required">
                            <option ng-repeat="option in categoryOptions" value="{{ option.value }}">{{ option.title }}</option>
                        </select>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lat" class="control-label">Latitude:</label>
                                <input type="text" id="lat" ng-model="newIssue.coords.lat" value="49.1952" class="form-control" required="required" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lon" class="control-label">Longitude:</label>
                                <input type="text" id="lon" ng-model="newIssue.coords.lon" value="16.6079" class="form-control" required="required" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <a href="javascript:;" id="deviceLocationBtn">Browser geolocation</a>
                    <div id="map"></div>
                </div>
                <p class="text-center">
                    <button type="submit" class="btn btn-primary">Create</button>
                </p>
            </div>
        </form>
    </div>
</div>

<div>
    <div class="panel panel-default">
        <div class="panel-heading">Filter</div>
        <form ng-submit="displayIssues()">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="filterCategories" class="control-label">Categories</label>
                            <select id="filterCategories" class="form-control" multiple="multiple" ng-model="filter[0].in">
                                <option ng-repeat="option in categoryOptions" value="{{ option.value }}">{{ option.title }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="filterStatuses" class="control-label">Statuses</label>
                            <select id="filterStatuses" class="form-control" multiple="multiple" ng-model="filter[1].in">
                                <option ng-repeat="option in statusOptions" value="{{ option.value }}">{{ option.title }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="filterMinPriority" class="control-label">Min. priority</label>
                            <select id="filterMinPriority" class="form-control" ng-model="filter[2].min">
                                <option ng-repeat="option in priorityOptions" value="{{ option.value }}">{{ option.title }}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="filterMaxPriority" class="control-label">Max. priority</label>
                            <select id="filterMaxPriority" class="form-control" ng-model="filter[2].max">
                                <option ng-repeat="option in priorityOptions" value="{{ option.value }}">{{ option.title }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="filterMinLat" class="control-label">Min. latitude</label>
                            <input type="text" class="form-control" id="filterMinLat" ng-model="filter[3].lat_min">
                        </div>
                        <div class="form-group">
                            <label for="filterMaxLat" class="control-label">Max. latitude</label>
                            <input type="text" class="form-control" id="filterMaxLat" ng-model="filter[3].lat_max">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="filterMinLon" class="control-label">Min. longitude</label>
                            <input type="text" class="form-control" id="filterMinLon" ng-model="filter[3].lon_min">
                        </div>
                        <div class="form-group">
                            <label for="filterMaxLon" class="control-label">Max. longitude</label>
                            <input type="text" class="form-control" id="filterMaxLon" ng-model="filter[3].lon_max">
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="javascript:;" ng-click="resetFilter(); displayIssues();" class="btn btn-default">Reset filter</a>
                <button type="submit" class="btn btn-primary">Display issues</button>
            </div>
        </form>
    </div>
    <div id="issuesMap" style="height: 400px;"></div>
    <div ng-show="issues">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Subject</th>
                    <th>Coordinates</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issue in issues">
                    <td>{{ issue.subject }}</td>
                    <td>{{ issue.coords.lat }}, {{ issue.coords.lon }}</td>
                    <td>
                        <a class="btn btn-primary btn-sm" href="#/issues/{{ issue.id }}">Detail</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="issues" class="alert alert-info">No issues found for specified filter</div>
</div>