<h2>Issue</h2>
<div ng-include="'partials/formMessage.html'"></div>
<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            <tr>
                <th>Subject</th>
                <td>{{ issue.subject }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ issue.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>
                    {{ issue.status|optionTitle:statusOptions }}
                    <span ng-show="loggedUser && loggedUser.memberships.indexOf('WORKER') !== -1">
                        <a href="javascript:;" ng-show="issue.status === 'REPORTED'" ng-click="updateStatus('ACCEPTED')"><span class="glyphicon glyphicon-ok"></span> Accept</a>
                        <a href="javascript:;" ng-show="issue.status === 'REPORTED'" ng-click="updateStatus('REJECTED')"><span class="glyphicon glyphicon-remove"></span> Reject</a>
                        <a href="javascript:;" ng-show="issue.status === 'ACCEPTED'" ng-click="updateStatus('FIXED')"><span class="glyphicon glyphicon-wrench"></span> Fixed</a>
                    </span>
                </td>
            </tr>
            <tr>
                <th>Priority</th>
                <td>{{ issue.priority|optionTitle:priorityOptions }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ issue.category|optionTitle:categoryOptions }}</td>
            </tr>
            <tr>
                <th>Started</th>
                <td>{{ issue.started }}</td>
            </tr>
            <tr>
                <th>Author</th>
                <td>{{ issue.author }}</td>
            </tr>
            <tr>
                <th>Coordinates</th>
                <td>{{ issue.coords.lat }}, {{ issue.coords.lon }}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-6">
        <div id="map"></div>
    </div>
</div>
<h3>Chat</h3>
<div ng-show="loggedUser">
    <div class="panel panel-default">
        <div class="panel-heading">Post Message</div>
        <div class="panel-body">
            <form ng-submit="addMessage(message)">
                <div class="form-group">
                    <label for="message" class="control-label">Message:</label>
                    <input type="text" id="message" ng-model="messageText" class="form-control" required="required" />
                </div>
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="Send" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="well">
    <dl id="chat" class="dl-horizontal">
        <dt ng-repeat-start="message in messages | reverse">{{ message.name }}  <i>{{ message.created }}</i></dt>
        <dd ng-repeat-end="">{{ message.text }}</dd>
    </dl>
</div>